<div class="chart-min">
  <div class="chart-min__title">Total Sells</div>
  <div class="chart-min__row">
    <div class="chart-min__image"></div>
    <div class="chart-min__info">
      <div class="chart-min__info-num">12,463</div>
      <div class="chart-min__info-text">
        Compared to Jan 2023
      </div>
    </div>
  </div>
  <apx-chart
    [series]="series"
    [chart]="chart"
    [markers]="markers"
    [stroke]="stroke"
    [tooltip]="tooltip"
    [colors]="colors"
    [grid]="grid"
  ></apx-chart>
</div>
