<div class="bar">
  <div class="bar__container">
    <div class="bar__list">
      <a routerLinkActive="active" [routerLink]="['dashboard-one']" class="bar__item">Dashboard-one</a>
      <a routerLinkActive="active" [routerLink]="['dashboard-two']" class="bar__item">Dashboard-two</a>
      <a routerLinkActive="active" [routerLink]="['dashboard-three']" class="bar__item">Dashboard-three</a>
      <a routerLinkActive="active" [routerLink]="['dashboard-fourth']" class="bar__item">Dashboard-fourth</a>
    </div>
  </div>
</div>
